@charset "UTF-8";
/*------------------- */
/* $Catalog */
/*------------------- */
/* $Catalog */
/* $Font */
/* $Animatios */
/* $Global */
/* $Header */
/* $Record Box */
/*------------------- */
/* $Font */
/*------------------- */
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
/*------------------- */
/* $Global */
/*------------------- */
* {
  position: relative;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "sans-serif", "微軟正黑體";
  background-color: #f2f2f2; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
  overflow: hidden; }

/*------------------- */
/* $Header */
/*------------------- */
header {
  text-align: center; }

.title {
  font-size: 40px;
  font-family: "Alfa Slab One", "cursive";
  margin-top: 16px; }
  @media (max-width: 768px) {
    .title {
      font-size: 30px; } }

.desc {
  font-size: 1.1rem;
  margin-top: 8px; }

/*------------------- */
/* $Button */
/*------------------- */
.btn-gp {
  margin: 16px 0;
  text-align: center;
  display: flex;
  justify-content: center; }

.tohome, .start {
  display: block;
  text-decoration: none;
  width: 120px;
  margin: 0 8px;
  padding: 8px 0;
  background-color: #aa530e;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 16px;
  border-bottom: 5px solid #eaa966;
  outline: none;
  cursor: pointer;
  transition: all 0.2s; }
  @media (max-width: 768px) {
    .tohome, .start {
      width: 100px;
      font-size: 18px; } }
  .tohome:active, .start:active {
    transform: translate(2px, 2px); }

/*------------------- */
/* $Record Box */
/*------------------- */
.recordBox {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 24px;
  padding-bottom: calc(24px - 16px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eaa966;
  border-radius: 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }

.row {
  width: 32%;
  margin-bottom: 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); }
  .row:not(:first-child) {
    flex-direction: column;
    padding: 4px 0; }
    @media (max-width: 768px) {
      .row:not(:first-child) {
        width: 100%;
        flex-direction: row; } }
  .row:first-child {
    width: 70%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    font-size: 24px; }
    @media (max-width: 768px) {
      .row:first-child {
        width: 100%;
        height: auto;
        padding-left: 0;
        font-size: 18px; } }
    .row:first-child .rank {
      font-size: 40px; }
      @media (max-width: 768px) {
        .row:first-child .rank {
          font-size: 30px; } }
  .row.highlight {
    color: #1c890c; }
    .row.highlight:first-child {
      color: #ce2525; }

.rank {
  font-size: 24px;
  font-family: "Alfa Slab One", "cursive";
  font-weight: bold; }
  @media (max-width: 768px) {
    .rank {
      width: 20%;
      font-size: 18px; } }

.name, .record {
  width: 100%;
  line-height: 30px; }
  @media (max-width: 768px) {
    .name, .record {
      width: 40%; } }

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.record {
  font-weight: bold; }
  .record span {
    font-size: 0.7rem; }

/*# sourceMappingURL=record.css.map */
