doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="shooting game with javascript")
    title Fight against crime! | Shooting Game
    link(rel="stylesheet",type="text/css", href="css/home.css")
    link(rel="icon",type="image/png", href="images/icon.png")
  body
    .container
      .main
        .title Fight against Crime!!!!
        .imgBox
          .person
            img.bad(src="images/terrorist.png", alt="badguy")
            img.badstuff(src="images/shortgun.png", alt="badstuff")
          img.flash(src="images/sparkles.png", alt="sparkles")
          .person
            img.good(src="images/policeman.png", alt="goodman")
            img.goodstuff(src="images/badge.png", alt="goodstuff")
        .btn-gp
          a(href="game.html").start Start
          a(href="record.html").record Record
